* {
    font-family: 'Times New Roman', Times, serif;
    // font-family: 'Nunito Sans', sans-serif;
}

a.navbar-brand {
    font-size: 50px;
    font-weight: 700;
}


div.navbar-nav {
    position: absolute; 
    right: 10px;
}